.corHeader{
  --background: #2E1340;
  height: 100%;
  padding-top: 5px;
  
}

.estiloBtMenuLateral{
  color:#7F5E95 ;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
.estiloSearch{
 
  --placeholder-font-style:'FonteApp';
  --background: var(--bg-principal);
        --background-hover: var(--bg-principal);
        --background-activated: var(--bg-principal);
        --background-focused: var(--bg-principal);
      
        --border-radius: 16px;
      
        --padding-start:8vw;
        --padding-end:72vw;

}


