<ion-app>
  <ion-menu contentId="main-content" class="corFundoSideBar">
    <!-- container imagem menu lateral -->
    <ion-header class="ion-no-border">
      <ion-toolbar class="containerLogoeTexto">
        <img src="assets/logoEtexto.svg" class="configImgLogo" />
      </ion-toolbar>
    </ion-header>
<!-- container botoes menu lateral -->
    <ion-content
      style="display: flex; flex-direction: column"
      class="ion-padding"
    >
     
      <ion-buttons>
        <ion-button 
          style="background-color: #5f2587"
          fill="clear"
          class="configBotao"
        >

          <img src="assets/home.svg" />
          <ion-text class="textoBt01"> Inicio </ion-text>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button
          style="
            --border-radius: 15px;
            color: #5f2587;
            margin-top: 5px;
            min-height: 38px;
          "
          fill="clear"
          class="configBotao"
        >
          <img src="assets/search.svg" />
          <ion-text class="textoBt"> Buscar </ion-text>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button
          style="
            --border-radius: 15px;
            color: #5f2587;
            margin-top: 5px;
            min-height: 38px;
          "
          fill="clear"
          class="configBotao"
        >
          <img src="assets/sell.svg" />
          <ion-text class="textoBt"> Trocas </ion-text>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button
          style="
            --border-radius: 15px;
            color: #5f2587;
            margin-top: 5px;
            min-height: 38px;
          "
          fill="clear"
          class="configBotao"
        >
          <img
            src="assets/grade.svg"
            style="height: 27px; margin-right: -2px"
          />
          <ion-text class="textoBt"> Favoritos </ion-text>
        </ion-button>
      </ion-buttons>

      <ion-footer class="containerPerfil">
        <div class="filhoContainerPerfil">

          <ion-item  lines="none" class="containerFotoEnomeUsu" >

            <div  class="containerImg">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                class="estiloImg"
              />
            </div>

            <div class="divNomeEmailUsu">
              <ion-text class="nomeUsuario">Lorem Ipsum</ion-text>
              <ion-text class="emailUsuario">usuarioEmail.com</ion-text>
            </div>
          </ion-item>

        </div>
      </ion-footer>

    </ion-content>
  </ion-menu>




  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>

    <!-- botoes barra -->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <!-- <ion-icon name="play-circle"></ion-icon> -->
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <!-- <ion-icon name="radio"></ion-icon> -->
          Radio
        </ion-tab-button>
        <ion-tab-button tab="library">
          <!-- <ion-icon name="library"></ion-icon> -->
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <!-- <ion-icon name="search"></ion-icon> -->
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-app>
