<ion-content class="ion-padding" [fullscreen]="true">
  <div class="container">

    <ion-header style="box-shadow: none;">  
      <ion-button class="back-button" fill="clear" routerLink="/login">
        <ion-img src="../../../assets/icons/arrow_back/arrow_back.svg" />
      </ion-button>
    </ion-header>


    <ion-text>
      <h1>Complete os dados para criar sua conta</h1>
    </ion-text>

    <br>

    <ion-label class="input-label">E-mail</ion-label>
    <ion-input type="email"></ion-input>

    <br>

    <ion-label class="input-label">Nome</ion-label>
    <ion-input type="name"></ion-input>

    <br><ion-label class="input-label">Sobrenome</ion-label>
    <ion-input></ion-input>

    <br>

    <ion-label class="input-label">Senha</ion-label>
    <ion-input type="password"></ion-input>

    <br><ion-label class="input-label">Telefone</ion-label>
    <ion-input></ion-input>

    <br>
    
    <div class="flex center">
      <ion-button class="bottom-button">Continuar</ion-button>
    </div>
  
  </div>
</ion-content>