/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import '@ionic/angular/css/palettes/dark.system.css';

* {
    font-family: 'Segoe UI';
}

:root{
  --ion-background-color: var(--bg-principal);
    
  --bg-principal: #F0F0F0;
    --bg-darken: #2E1340;
    --bg-highlight: #7F5E95;
    --bg-details: #5F2587;
    --green: #15693F;
    --red: #F22727;
    --gray: #888888
}


.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.input-label {
    font-size: 1rem;
}

ion-input{
    --highlight-color: none;
    --border-width: 0;
    --padding-start: 8px;
    border: 1.5px solid var(--gray);
    border-radius: 16px;
}

.input-label{
    color: var(--gray);
    padding-left: 8px;
    font-size: 16px;
    text-align: start;
}

ion-button {
    --background: var(--bg-details);
    --background-hover: var(--bg-details);
    --background-activated: var(--bg-details);
    --background-focused: var(--bg-details);
    --color: #fff;
    font-size: 20px;
    font-weight: bold;
    min-height: 44px;
    --border-radius: 16px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --box-shadow: none;
    text-transform: none;
    min-width: 28px;
}

.clear-button{
    --color: var(--bg-details);
    --background: var(--bg-principal);
    --background-hover: var(--bg-principal);
    --background-activated: var(--bg-principal);
    --background-focused: var(--bg-principal);
    font-weight: 600;
    font-size: 16px;
    min-height: 44px;
}

h1{
    font-size: 28px;
    font-weight: 600;
    margin:0 ;
}

.back-button{
    --background: var(--bg-principal);
    --background-hover: var(--bg-principal);
    --background-activated: var(--bg-principal);
    --background-focused: var(--bg-principal);	
    --padding-end:0;
    --padding-start: 0;
}

.bottom-button {
  position: fixed;
  bottom: 16px;
  width: calc(100% - 32px);
}


