<div id="main-content">
  <ion-menu-toggle>
    <ion-button>
      <ion-img src="../../../assets/icons/test/menu.svg" />
    </ion-button>
  </ion-menu-toggle>
</div>


<ion-menu contentId="main-content">
  <ion-content class="ion-padding" scroll-y="false">

<ion-img src="../../../assets/logo-horizontal.svg" class="logo-horizontal" />
    
    
    <div class="align-bottom">
      <div class="line"></div>
      <ion-item lines="none">
        <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Nome usuario</h3>
        <p>email.com</p>
      </ion-label>
    </ion-item>
  </div>

  </ion-content>
</ion-menu>