<ion-app>
  <app-menu-lateral> </app-menu-lateral>

  <div class="ion-page" id="main-content">
    <app-top-nav-bars></app-top-nav-bars>

    <div class="estiloCarrocelAnuncio">carrocel de anuncioss</div>

    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>

    <!-- botoes barra -->
    <!-- <ion-tabs>
      <ion-tab-bar slot="bottom" class="backgroundBarra">
        <ion-tab-button tab="home">
          <img src="assets/home.svg" />
          <ion-text>Inicio</ion-text>
        </ion-tab-button>

        <ion-tab-button tab="radio"> Radio </ion-tab-button>

        <ion-tab-button tab="radio"> Radio </ion-tab-button>

        <ion-tab-button tab="library"> Library </ion-tab-button>
        <ion-tab-button tab="search">
           <ion-icon name="search"></ion-icon> -->
          <!-- Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>  -->
   

    <app-bottom-nav-bar></app-bottom-nav-bar>

   

  </div>
</ion-app>
