<ion-tabs>
  <ion-tab-bar slot="bottom" class="backgroundBarra">
    <ion-tab-button tab="home">
      <img src="assets/home.svg" />
      <ion-text>Inicio</ion-text>
    </ion-tab-button>

    <ion-tab-button tab="radio"> Radio </ion-tab-button>

    <ion-tab-button tab="radio"> Radio </ion-tab-button>

    <ion-tab-button tab="library"> Library </ion-tab-button>
    <ion-tab-button tab="search">
      <!-- <ion-icon name="search"></ion-icon> -->
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>