<ion-content class="ion-padding " [fullscreen]="true">
  <div class="container">

    <div>

      <div class="flex center -margin-top" style=" width: 300px; margin-left: 40px;">
        <ion-img src="../../../assets/LogoNova.svg" alt="" />
      </div>

      <br>

      <ion-label class="input-label">E-mail</ion-label>
      <ion-input type="email"></ion-input>

      <br>

      <ion-label class="input-label">Senha</ion-label>
      <ion-input type="password"></ion-input>

      <br>

      <ion-button class="flex" routerLink="/home">Entrar</ion-button>
      <br>
      <ion-button class="flex clear-button" routerLink="/register">Criar Conta</ion-button>

    </div>
  </div>
</ion-content>